
@{
    ViewBag.Title = "Adress";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="text-left">
    <h4>Adress</h4>
    <div>
       Company adress: Petra Preradovica, Zagreb
     </div>
    <div>
        Tel: 098123097120
    </div>

</div>

