body {
    background-color: #d6e4ee;
}

#lizardlogo {
    max-width: 110px;
    display: inline;
}

#title {
    display: inline;
    font-size: 30px;
    font-weight: bold;
    margin-top: -10px;
}

.mainText {
    padding: 20px;
}
