
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Assignment1</title>
    <link href="~/Content/Assignment1.css" rel="stylesheet" />
</head>
<body>
    <div>
        <img id="lizardlogo" src="https://www.10bestdesign.com/firms/2016/october/lounge-lizard/firm-logo.gif" />
        <div id="title">My Lizard Company</div>
    </div>
    <div class="mainText">
        Bacon ipsum dolor amet jowl sirloin beef, chuck hamburger pastrami venison strip steak andouille pork loin frankfurter flank bresaola pork belly. Frankfurter ball tip turducken cow pork loin biltong ham hock. Prosciutto pork belly flank shank sirloin brisket doner jerky sausage. Rump andouille doner bacon swine sirloin turkey tail. Ham burgdoggen beef ribs, sausage tenderloin beef ground round cupim landjaeger tri-tip brisket pork chop.
    </div>
</body>
</html>
